@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&family=Jaini+Purva&family=Karla:wght@400;700&display=swap');

.signin-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.5px);
  transition: all 0.8s ease-in-out;
  transform: translateX(-100%);
  opacity: 0;
}

.signin-wrapper.slide-in {
  transform: translateX(0%);
  opacity: 1;
}

.signin-wrapper .form-box {
  width: 100%;
  max-width: 420px;
  padding: 2rem 2rem;
  border-radius: 24px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem; /* Adds space between heading and form */
  backdrop-filter: none;
}

.signin-wrapper .form-box h2 {
  font-size: 50px;
  font-family: 'Irish Grover', cursive;
  color: #fff;
  text-align: center;

  margin-top: -20px; /* Push it up — adjust this value as needed */
  margin-bottom: 0;
}


.signin-wrapper .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.signin-wrapper .form input {
  padding: 14px 20px;
  font-size: 30px;
  border: none;
  border-radius: 20px;
  background-color: rgba(22, 10, 1, 0.6);

  color: #fff;
  text-align: center;
  font-family: 'Jaini Purva', cursive;
}

.signin-wrapper .form input::placeholder {
  color: white;
  opacity: 0.7;
}

.signin-wrapper .form input:focus {
  outline: none;
  box-shadow: 0 0 0 2px #67B87A;
  background-color: rgba(11, 8, 1, 0.7);
}

.signin-wrapper .form button {
  background-color: rgb(19, 200, 109);
  color: white;
  font-size: 24px;
  font-family: 'Jaini Purva', cursive;
  border: none;
  border-radius: 30px;
  padding: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signin-wrapper .form button:hover {
  background-color: #67B87A;
}

.signin-wrapper .link-text {
  font-family: 'Karla', sans-serif;
  font-size: 25px; /* adjust size if needed */
  margin-top: 1.5rem;
  margin-left: 2rem;
  text-align: center;
  color: white;
  letter-spacing: 0.5px;

  display: inline-block;
  white-space: nowrap;   /* ✅ prevents wrapping */
}

.signin-wrapper .link {
  color: #11e426;
  font-weight: bold;
  margin-left: 6px;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s ease;
}


.signin-wrapper .link:hover {
  color: #ffffff;
  text-shadow: 0 0 10px #6b0808;
  transform: scale(1.05);
}

.signin-wrapper .link::after {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: #e50e19;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease-in-out;
}

.signin-wrapper .link:hover::after {
  transform: scaleX(1);
}


.signin-wrapper .error-message {
  color: #ff4f4f;
  font-size: 14px;
  text-align: center;
  margin-bottom: -0.5rem;
}
